<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Mail</title>
  </head>
  <body>
    Dear Certified Candidate!<br />
    We're pleased to tell you that you have passed the Hashgraph Certification test! Your score was
    {{score}}/{{maxScore}}.<br /><br />

    Please use the below one time link to generate your certificate and mint your certificate as NFT to your Hashpack
    wallet.<br />
    Link :
    {{url}}<br />
    Don't forget to download your certificate.<br /><br />

    Many thanks for your participation. We look forward to working with you.<br /><br /><br />

    Regards<br />
    The Hashgraph Association<br />
  </body>
</html>